.QuoteMain {
    display: flex;
    width: 100%;
    height: 92vh;
}

.left, .right {
    width: 50%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.right img {
    width: 75%;
}

.left {
    flex-direction: column;
    gap: 10vh;
}

.left h1 {
    font-size: 5vw;
}

.left h2 {
    font-size: 2vw;
    margin: 0 10vh;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .right {
        display: none;
    }
    .left {
        width: 100%;
    }

    .left h1 {
        font-size: 10vw;
    }
    .left h2 {
        font-size: 8vw;
    }
}